{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
    <div class="container-fluid bg-1  text-center row">
        <div class="container-fluid col">
            <h1 class="display-4">Lucquiaud Pierre</h1>
            <p class="lead">{{ age }} ans, Futur Developpeur Back-End </p>
            <hr />
            <div class="container row">
                <div class="col">
                    <h6>Télécharger mon CV</h6>
                    <p>
                        <a href="{{ asset('assets/pdf/cv.pdf') }}"><img src="{{ asset('assets/img/paper-plane.png')}}" alt="paper-plane"></a>
                    </p>
                </div>
                <div class="col">
                    <h6>Contactez-moi !</h6>
                    <p>
                        <a href="#contact"><button type="button" class="btn btn-primary btn-lg">Par ici !</button></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="container-fluid col">
            <p>
                <!--<img src="{{ asset('assets/img/me.png')}}" alt="me">-->
            </p>
        </div>

    </div>

    <div class="container-fluid  bg-2 text-center row big-section">
        <div class="col">
            <p class="text-center">
                Néophyte dans le developpement web et passionné de nouvelles technologies, je m'intersse aux différentes techniques de développements ainsi qu'aux différents outils que le monde du web propose.
            </p>
            <p class="text-center">Passionné par le web et les opportunitées, pratiquement infinie, qu'il ouvre, j'essaie de me former sur les dernières technologies et bonnes-pratiques propres aux différents langages et aux différentes technologies que je suis amené à utiliser.
            </p>
        </div>
        <div class="col bg-1">
            <h2 class="section-title">Qui suis-je ?</h2>
        </div>
    </div>

    <div class="container-fluid bg-2 text-center">
        <h2>Télécharger mon CV</h2>
        <p>
            <h1 ><a class="oi oi-person imgCv" title="person" aria-hidden="true" href="{{ asset('assets/pdf/cv.pdf') }}"></a></h1>
        </p>
    </div>

    <div class="container-fluid bg-card-deck">
        <div class="card-deck">
                <div class="card-body">
                    <a class="btn btn-warning btn-lg btn-block" href="https://www.linkedin.com/in/pierre-lucquiaud-969793172" role="button">LinkedIn</a>
                </div>
                <div class="card-body">
                        <a class="btn btn-warning btn-lg btn-block" href="https://github.com/lucpierre" role="button">GitHub</a>
                    </p>
                </div>
            <div class="card-body bg-1">
                    <a class="btn btn-warning btn-lg btn-block" href="{{path('app_contact')}}" role="button">E-mail</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}